body {
    /*background-image: url('imgs/disneylend.gif');*/
    background-image: url('imgs/starsgif.gif');
    background-repeat: no-repeat;
    /*background-position: center;*/
    background-size: cover;
}

#start {
    /*text-shadow: 2px 2px 5px red;
    font-style: oblique;
    font-weight: bold;
    font-size: 26pt;
    color: white;
    text-align: center;
    text-decoration:none;*/
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 21%;
    margin-top: 21%;
    margin-bottom: auto;
}


.breathing-button {
    -webkit-animation: breathing 5s ease-out infinite normal;
    -webkit-font-smoothing: antialiased;
}

@keyframes breathing {
    0% {
        transform: scale(0.4);
    }

    25% {
        transform: scale(1);
    }

    60% {
        transform: scale(0.9);
    }

    100% {
        transform: scale(0.9);
    }
}
